.board__list-item{
    box-shadow: 0px 3px 5px 0px  rgb(170, 170, 170, 0.6);
    height: 95px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: auto;
}

.board__list-title{
    padding-top: 6px;
    text-align: left;
    /*박스를 넘어서는글 줄임*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.board__list-title span {
    color: black;
}
.board__list-meta{
    display: grid;
    grid-template-columns: 80px 100px 100px;
}

.board__list-user, .board__list-time{
    margin: auto;
}

@media only screen and (min-width: 768px) {
    .board__list-item {
        box-shadow: 8px 5px 13px rgb(170, 170, 170, 0.6);
        width: 742px;
        height: 105px;
        margin: auto;
    }
  }