ul{
    position: fixed;
    display: grid;
    grid-template-rows: 40px 150px 150px 150px 150px;
    background-color: black;
    align-items: center;
    top: 0;
    left: 0;
    right: 30%;
    bottom: 0;
}
.x-btn {
    text-align: left;
}

ul li button{
    background-color: transparent;
    color: white;
    font-size: 2.5rem;

}