.login-confirm {
    /*display: grid;*/
    /*justify-content: end;*/
    /*justify-content: stretch;*/
}
.login-confirm {
    display: grid;
    grid-template-columns: 1fr 20px;
    justify-content: end;
    padding-right: 15px;
    padding-top: 15px;
}
.login-confirm--text {
    font-size: 0.9rem;
    padding-left: 20px;
    padding-top: 5px;
}

.mypage-btn{
    background-image: url(../../../../public/icon_login.svg);
    background-color: white;
    background-blend-mode: multiply;
    width: 30px;
    height: 30px;
}

.login-confirm--nic {
    color: rgb(48, 152, 216);
}