.login-confirm {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 45px;
    justify-content: end;
    padding-top: 15px;
}
.login-confirm--text {
    font-size: 0.9rem;
    padding-top: 5px;
}

.mypage-btn{
    background-image: url(../../../../public/icon-login.png);
    background-color: white;
    background-size: cover;
    background-blend-mode: multiply;
    width: 45px;
    height: 45px;
}

.login-confirm--nic {
    color: rgb(48, 152, 216);
}

.nologin-confirm {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 80px;
    gap: 20px;
}
.nologin-confirm :nth-child(2) {
    height: 30px;
    background-color: #0D2538;
    border-radius: 15px;
    color: white;
}