.board__list-item{
    box-shadow: 5px 5px 5px rgb(170, 170, 170, 0.6);
    height: 70px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.board__list-title{
    padding-top: 6px;
    text-align: left;
}

.board__list-title span {
    color: black;
}
.board__list-meta{
    display: grid;
    grid-template-columns: 80px 100px;
}

.board__list-user, .board__list-time{
    margin: auto;
}
