.WriteBg{
    height: 100vh;
    background-color: white;
}

input, textarea:focus {outline: 2px solid rgba(128, 128, 128, .1);}
form{
    padding-top: 30px;
    text-align: left;
    margin: auto;
    display: grid;
    grid-template-rows: 10px 30px 1fr 30px;
    row-gap: 30px;
    width: 330px;
    height: 600px;
}

.inputContent, .inputSubject{
    border: 0;
    box-shadow: 7px 15px 15px -9px rgba(128, 128, 128, .3);
}

.submitButton{
    display: grid;
    grid-template-columns: 60px 60px;
    gap: 60px;
    margin: auto;
}

.submitButton input {
    border: 0;
    width: 90px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(100, 149, 273, .5);
}

.submitButton button{
    border: 0;
    border-radius: 15px;
    width: 90px;
    height: 40px;
    background-color: rgb(128, 128, 128, .5);

}