/*.navBtn {
    margin-top: 6px;
    margin-left: 6px;
    background-image: url('../../public/berger-menu.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border: 0;
}*/

.mainUtube {
    display: grid;
    gap: 40px;
    padding-top: 50px;
}

.articleList li {
    background-color: white;
}

.articleList h3 {
    color: rgb(102, 96, 96);
}


@media only screen and (min-width: 768px) {
    .mainUtube {
        /*margin-left: auto;
        margin-right: auto;*/
        margin: auto;
        width: 700px;
    }

    .board__list {
        margin-left: auto;
        margin-right: auto;
        width: 768px;
    }

    .articleList li a p img {
        width: 450px;
        height: 250px;
    }
    .articleList li a h3 {
        width: 450px;
    }
}