.loading-bg{
    text-align: left;
    margin: 0;
    padding: 0;
    background-image: url('../../../public/side-bg.jpg');
    background-size: cover;
    height: 100vh;
}

.loading-bg h1 {
    font-size: 2.7rem;
    margin: 0;
    padding-left: 30px;
}
.loading-bg :nth-child(1) {
    color: white;
    padding-top: 200px;
}
.loading-bg :nth-child(2) {
    color: crimson;
}

.loading-bg :nth-child(3) {
    color: dimgrey;
    font-size: 1rem;
}